body {
        margin: 0;
        font-family: "Poppins", sans-serif;
        background: #f9f9f9;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 25px;
        background: #ff99cc;
        box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    }

    .logo {
        font-size: 22px;
        font-weight: bold;
        color: white;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    .nav-links a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        padding: 6px 12px;
        background: rgba(255,255,255,0.3);
        border-radius: 12px;
        transition: 0.3s;
    }

    .nav-links a:hover {
        background: white;
        color: #ff66aa;
    }